Koha/Plugin/Com/PTFSEurope/RapidILL/rapidill.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://rapid2.library.colostate.edu/rapid5api/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://rapid2.library.colostate.edu/rapid5api/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rapid2.library.colostate.edu/rapid5api/">
      <s:element name="RetrieveRequestInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:RetrieveInfoInput_Api5" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetrieveInfoInput_Api5">
        <s:complexContent mixed="false">
          <s:extension base="tns:RetrieveHistoryInput_Api5" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RetrieveHistoryInput_Api5">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiInputBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="RequestId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiInputBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestingRapidCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestingBranchName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveRequestInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveRequestInfoResult" type="tns:RetrieveInfoOutput_Api5" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetrieveInfoOutput_Api5">
        <s:complexContent mixed="false">
          <s:extension base="tns:RetrieveHistoryOutput_Api5">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="BorrowerRapidCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BorrowerBranchName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BorrowerInstitution" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BorrowerCountryCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="XRefRequestId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LenderRapidCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LenderBranch" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ArticleExchangeAddress" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ArticleExchangePassword" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PatronNotes" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DueDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="BorrowerMailingAddress" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LenderMailingAddress" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RetrieveHistoryOutput_Api5">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiOutputBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="HistoryTransactions" type="tns:ArrayOfTranHistory" />
              <s:element minOccurs="1" maxOccurs="1" name="RapidRequestType" type="tns:RequestType" />
              <s:element minOccurs="0" maxOccurs="1" name="JournalYear" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JournalTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ArticleTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JournalVol" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JournalIssue" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JournalPages" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Edition" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Publisher" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Issn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OclcNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Isbn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Lccn" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiOutputBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccessful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="VerificationNote" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTranHistory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TranHistory" nillable="true" type="tns:TranHistory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TranHistory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RapidCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StateType" type="tns:ApiStateType" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalInfo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ApiStateType">
        <s:restriction base="s:string">
          <s:enumeration value="Pending" />
          <s:enumeration value="Filled" />
          <s:enumeration value="Unfilled" />
          <s:enumeration value="Deleted" />
          <s:enumeration value="Cancelled" />
          <s:enumeration value="BadCitationBorrower" />
          <s:enumeration value="BadCitationLender" />
          <s:enumeration value="New" />
          <s:enumeration value="NewResend" />
          <s:enumeration value="NotAvailable" />
          <s:enumeration value="LocalHoldingIn" />
          <s:enumeration value="PendingBatchNotPrinted" />
          <s:enumeration value="PendingBatchPrinted" />
          <s:enumeration value="PendingLocal" />
          <s:enumeration value="Unknown" />
          <s:enumeration value="PendingExport" />
          <s:enumeration value="Shipped" />
          <s:enumeration value="Received" />
          <s:enumeration value="NotReceived" />
          <s:enumeration value="Returned" />
          <s:enumeration value="Lost" />
          <s:enumeration value="Finished" />
          <s:enumeration value="RenewalRequested" />
          <s:enumeration value="Renewed" />
          <s:enumeration value="NotRenewed" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="RequestType">
        <s:restriction base="s:string">
          <s:enumeration value="Article" />
          <s:enumeration value="Book" />
          <s:enumeration value="BookChapter" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UpdateRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:UpdateRequestInput_Api5" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdateRequestInput_Api5">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiInputBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="RapidRequestId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UpdateAction" type="tns:ApiRequestUpdateAction" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdateComment" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ArticleExchangeAddress" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ArticleExchangePassword" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DueDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="ApiRequestUpdateAction">
        <s:restriction base="s:string">
          <s:enumeration value="Fill" />
          <s:enumeration value="Unfill" />
          <s:enumeration value="Cancel" />
          <s:enumeration value="Delete" />
          <s:enumeration value="BadCitation" />
          <s:enumeration value="BatchPrinted" />
          <s:enumeration value="IllSoftwarePending" />
          <s:enumeration value="IllSoftwareResend" />
          <s:enumeration value="Shipped" />
          <s:enumeration value="Received" />
          <s:enumeration value="NotReceived" />
          <s:enumeration value="Returned" />
          <s:enumeration value="Lost" />
          <s:enumeration value="Finished" />
          <s:enumeration value="ShippedBorrowerAck" />
          <s:enumeration value="ReceivedLenderAck" />
          <s:enumeration value="ReturnedLenderAck" />
          <s:enumeration value="FinishedBorrowerAck" />
          <s:enumeration value="RenewalRequested" />
          <s:enumeration value="Renewed" />
          <s:enumeration value="NotRenewed" />
          <s:enumeration value="RenewalRequestedLenderAck" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UpdateRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateRequestResult" type="tns:UpdateRequestOutput_Api5" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdateRequestOutput_Api5">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiOutputBase" />
        </s:complexContent>
      </s:complexType>
      <s:element name="InsertRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:InsertRequestInput_Api5" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InsertRequestInput_Api5">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiInputBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SuggestedIsbns" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="SuggestedLccns" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="Edition" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Publisher" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RapidRequestType" type="tns:RequestType" />
              <s:element minOccurs="0" maxOccurs="1" name="Function" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="XRefRequestId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SuggestedIssns" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="OclcNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ArticleTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ArticleAuthor" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ArticlePages" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PatronJournalTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PatronJournalYear" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JournalVol" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JournalIssue" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JournalMonth" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PatronId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PatronName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PatronDepartment" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PatronEmail" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PatronPhone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PatronFax" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PatronAddress" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PatronStatus" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PatronNotes" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsHoldingsCheckOnly" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="DoInsertLocalHolding" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientAppName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientAppVersion" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientAppPhysicalPath" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientAppHost" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientAppUserAgent" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DoBlockLocalOnly" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertRequestResult" type="tns:InsertRequestOutput_Api5" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InsertRequestOutput_Api5">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiOutputBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MatchingStandardNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MatchingStandardNumberType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DuplicateRequestId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FoundMatch" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="NumberOfAvailableHoldings" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RapidRequestId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLocalHolding" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="LocalHoldings" type="tns:ArrayOfLocalHoldingItem" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfLocalHoldingItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalHoldingItem" nillable="true" type="tns:LocalHoldingItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalHoldingItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BranchName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LibLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CallNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RapidRedirectUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:RetrieveHistoryInput_Api5" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveHistoryResult" type="tns:RetrieveHistoryOutput_Api5" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveRequests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:RetrieveRequestsInput_Api5" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetrieveRequestsInput_Api5">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiInputBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="QueueType" type="tns:RetrieveRequestQueueType" />
              <s:element minOccurs="1" maxOccurs="1" name="RapidRequestType" type="tns:RetrieveRequestsRequestType" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="DoRetrieveTransactionHistory" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="DoRetrievePatronInfo" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="HoursOld" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="RetrieveRequestQueueType">
        <s:restriction base="s:string">
          <s:enumeration value="LenderPending" />
          <s:enumeration value="LenderResend" />
          <s:enumeration value="BorrowerBadCitation" />
          <s:enumeration value="BorrowerNotAvailable" />
          <s:enumeration value="BorrowerPending" />
          <s:enumeration value="IllSoftwarePending" />
          <s:enumeration value="IllSoftwareResend" />
          <s:enumeration value="BorrowerRecentlyFilled" />
          <s:enumeration value="BorrowerRecentlyFilledRapidX" />
          <s:enumeration value="BorrowerRecentlyShipped" />
          <s:enumeration value="LenderRecentlyReceived" />
          <s:enumeration value="LenderRecentlyReturned" />
          <s:enumeration value="BorrowerRecentlyFinished" />
          <s:enumeration value="LenderRecentlyRenewalRequested" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="RetrieveRequestsRequestType">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="Article" />
          <s:enumeration value="Book" />
          <s:enumeration value="BookChapter" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RetrieveRequestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveRequestsResult" type="tns:RetrieveRequestsOutput_Api5" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetrieveRequestsOutput_Api5">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiOutputBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Transactions" type="tns:ArrayOfTransaction" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RapidRequestId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XRefRequestId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StateType" type="tns:ApiStateType" />
          <s:element minOccurs="1" maxOccurs="1" name="RapidRequestType" type="tns:RequestType" />
          <s:element minOccurs="0" maxOccurs="1" name="BorrowerRapidCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BorrowerPreferredAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BorrowerBranchName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BorrowerInstitution" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BorrowerCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserJournalTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JournalTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArticleTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArticleAuthor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JournalVol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JournalIssue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JournalYear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JournalPages" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Edition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Publisher" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Issn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OclcNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Isbn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lccn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LenderRapidCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LenderBranch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CallNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalInfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JournalMonth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Copyright" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RapidRedirectUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArticleExchangeAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArticleExchangePassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PatronNotes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DueDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="BorrowerMailingAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LenderMailingAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionHistory" type="tns:ArrayOfTranHistory" />
          <s:element minOccurs="0" maxOccurs="1" name="PatronInfo" type="tns:Patron" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Patron">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PatronId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PatronAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PatronName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PatronPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PatronFax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PatronEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PatronDepartment" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveRequestInfoSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveRequestInfo" />
  </wsdl:message>
  <wsdl:message name="RetrieveRequestInfoSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveRequestInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRequestSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateRequestSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRequestResponse" />
  </wsdl:message>
  <wsdl:message name="InsertRequestSoapIn">
    <wsdl:part name="parameters" element="tns:InsertRequest" />
  </wsdl:message>
  <wsdl:message name="InsertRequestSoapOut">
    <wsdl:part name="parameters" element="tns:InsertRequestResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveHistorySoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveHistory" />
  </wsdl:message>
  <wsdl:message name="RetrieveHistorySoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveRequestsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveRequests" />
  </wsdl:message>
  <wsdl:message name="RetrieveRequestsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveRequestsResponse" />
  </wsdl:message>
  <wsdl:portType name="ApiServiceSoap">
    <wsdl:operation name="RetrieveRequestInfo">
      <wsdl:input message="tns:RetrieveRequestInfoSoapIn" />
      <wsdl:output message="tns:RetrieveRequestInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequest">
      <wsdl:input message="tns:UpdateRequestSoapIn" />
      <wsdl:output message="tns:UpdateRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertRequest">
      <wsdl:input message="tns:InsertRequestSoapIn" />
      <wsdl:output message="tns:InsertRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveHistory">
      <wsdl:input message="tns:RetrieveHistorySoapIn" />
      <wsdl:output message="tns:RetrieveHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRequests">
      <wsdl:input message="tns:RetrieveRequestsSoapIn" />
      <wsdl:output message="tns:RetrieveRequestsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApiServiceSoap" type="tns:ApiServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveRequestInfo">
      <soap:operation soapAction="http://rapid2.library.colostate.edu/rapid5api/RetrieveRequestInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequest">
      <soap:operation soapAction="http://rapid2.library.colostate.edu/rapid5api/UpdateRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRequest">
      <soap:operation soapAction="http://rapid2.library.colostate.edu/rapid5api/InsertRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHistory">
      <soap:operation soapAction="http://rapid2.library.colostate.edu/rapid5api/RetrieveHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRequests">
      <soap:operation soapAction="http://rapid2.library.colostate.edu/rapid5api/RetrieveRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ApiServiceSoap12" type="tns:ApiServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveRequestInfo">
      <soap12:operation soapAction="http://rapid2.library.colostate.edu/rapid5api/RetrieveRequestInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequest">
      <soap12:operation soapAction="http://rapid2.library.colostate.edu/rapid5api/UpdateRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRequest">
      <soap12:operation soapAction="http://rapid2.library.colostate.edu/rapid5api/InsertRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveHistory">
      <soap12:operation soapAction="http://rapid2.library.colostate.edu/rapid5api/RetrieveHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRequests">
      <soap12:operation soapAction="http://rapid2.library.colostate.edu/rapid5api/RetrieveRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApiService">
    <wsdl:port name="ApiServiceSoap" binding="tns:ApiServiceSoap">
      <soap:address location="http://rapid.exlibrisgroup.com/rapid5api/apiservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ApiServiceSoap12" binding="tns:ApiServiceSoap12">
      <soap12:address location="http://rapid.exlibrisgroup.com/rapid5api/apiservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>